public/plentychess/*corresponding-source*.tar.gz filter=lfs diff=lfs merge=lfs -text
public/viridithas/*corresponding-source*.tar.gz filter=lfs diff=lfs merge=lfs -text
public/stockfish/*corresponding-source*.tar.gz filter=lfs diff=lfs merge=lfs -text
public/viridithas/*.wasm filter=lfs diff=lfs merge=lfs -text
public/runtimes/squareformer-tvm-hybrid/** filter=lfs diff=lfs merge=lfs -text
public/berserk/*.data filter=lfs diff=lfs merge=lfs -text
public/berserk/*.wasm filter=lfs diff=lfs merge=lfs -text
public/berserk/*corresponding-source*.tar.gz filter=lfs diff=lfs merge=lfs -text
public/plentychess/*.data filter=lfs diff=lfs merge=lfs -text
public/plentychess/*.wasm filter=lfs diff=lfs merge=lfs -text
public/models/bt4_anneal_muon_best.onnx filter=lfs diff=lfs merge=lfs -text
public/models/bt4_soap_rem_c19000_final.onnx filter=lfs diff=lfs merge=lfs -text
